<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brittany.hcd" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserMainPage"
            android:label="@string/title_activity_user_main_page"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.MainActivity" />
        </activity>
        <activity
            android:name=".Symptoms_Main"
            android:label="@string/title_activity_symptoms__main"
            android:parentActivityName=".UserMainPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.UserMainPage" />
        </activity>
        <activity
            android:name=".NewSymptom"
            android:label="@string/title_activity_new_symptom"
            android:parentActivityName=".Symptoms_Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.Symptoms_Main" />
        </activity>
        <activity
            android:name=".Symptom_overview"
            android:label="@string/title_activity_symptom_overview"
            android:parentActivityName=".Symptoms_Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.Symptoms_Main" />
        </activity>
        <activity
            android:name=".AllSymptom_details"
            android:label="@string/title_activity_all_symptom_details"
            android:parentActivityName=".Symptom_overview" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.Symptom_overview" />
        </activity>
        <activity
            android:name=".Specific_Symptom_click"
            android:label="@string/title_activity_specific__symptom_click"
            android:parentActivityName=".Symptom_overview" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.Symptom_overview" />
        </activity>
        <activity
            android:name=".Workout_Main"
            android:label="@string/title_activity_workout__main"
            android:parentActivityName=".UserMainPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.UserMainPage" />
        </activity>
        <activity
            android:name=".New_work_Rountine"
            android:label="@string/title_activity_new_work__rountine"
            android:parentActivityName=".Workout_Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.Workout_Main" />
        </activity>
        <activity
            android:name=".User_add_exercise"
            android:label="@string/title_activity_user_add_exercise"
            android:parentActivityName=".Workout_Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.Workout_Main" />
        </activity>
        <activity
            android:name=".add_exercise"
            android:label="@string/title_activity_add_exercise"
            android:parentActivityName=".User_add_exercise" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.User_add_exercise" />
        </activity>
        <activity
            android:name=".Pushup_goal"
            android:label="@string/title_activity_pushup_goal"
            android:parentActivityName=".User_add_exercise" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.User_add_exercise" />
        </activity>
        <activity
            android:name=".Position_pushup"
            android:label="@string/title_activity_position_pushup"
            android:parentActivityName=".Pushup_goal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.Pushup_goal" />
        </activity>
        <activity
            android:name=".Pushup_count"
            android:label="@string/title_activity_pushup_count"
            android:parentActivityName=".Pushup_goal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.Pushup_goal" />
        </activity>
        <activity
            android:name=".Pushup_save"
            android:label="@string/title_activity_pushup_save"
            android:parentActivityName=".User_add_exercise" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.User_add_exercise" />
        </activity>
        <activity
            android:name=".Heart_rate_monitor_firstscreen"
            android:label="@string/title_activity_heart_rate_monitor_firstscreen"
            android:parentActivityName=".Heartrate_details" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.Heartrate_details" />
        </activity>
        <activity
            android:name=".Loading_screen_Bioharness"
            android:label="@string/title_activity_loading_screen__bioharness" >
        </activity>
        <activity
            android:name=".heart_rate_display"
            android:label="@string/title_activity_heart_rate_display"
            android:parentActivityName=".Heartrate_details" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.Heartrate_details" />
        </activity>
        <activity
            android:name=".Workout_overview"
            android:label="@string/title_activity_workout_overview"
            android:parentActivityName=".Workout_Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.Workout_Main" />
        </activity>
        <activity
            android:name=".Workout_overview_Details"
            android:label="@string/title_activity_workout_overview__details"
            android:parentActivityName=".Workout_overview" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.Workout_overview" />
        </activity>
        <activity
            android:name=".Report_main"
            android:label="@string/title_activity_report_main"
            android:parentActivityName=".UserMainPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.UserMainPage" />
        </activity>
        <activity
            android:name=".Food_Diary_Takeimage"
            android:label="@string/title_activity_food__diary__takeimage"
            android:parentActivityName=".UserMainPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.UserMainPage" />
        </activity>
        <activity
            android:name=".Food_Save_details"
            android:label="@string/title_activity_food__save_details"
            android:parentActivityName=".Food_Diary_Takeimage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.Food_Diary_Takeimage" />
        </activity>
        <activity
            android:name=".Create_user"
            android:label="@string/title_activity_create_user"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.MainActivity" />
        </activity>
        <activity
            android:name=".Symptom_entry_list"
            android:label="@string/title_activity_symptom_entry_list"
            android:parentActivityName=".Symptom_overview" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.Symptom_overview" />
        </activity>
        <activity
            android:name=".Heartrate_details"
            android:label="@string/title_activity_heartrate_details"
            android:parentActivityName=".UserMainPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.UserMainPage" />
        </activity>
        <activity
            android:name=".HeartRate_information"
            android:label="@string/title_activity_heart_rate_information"
            android:parentActivityName=".Heartrate_details" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brittany.hcd.Heartrate_details" />
        </activity>
    </application>

</manifest>
